body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}
.headlineContent {
  color: red;
}
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;

  position: fixed;
  top: 0;
  left: auto;
  right: 0;

  text-align: center;

  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}
.content {
  width: 90%;
  margin: auto;
  color: black;
  text-align: justify;
}
.headlineContent {
  color: red;
}
#headerHeadline {
  margin: 1rem;
  color: white;
}
#upButton {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  /**border: none;*/
  border-color: grey;
  border-image: none;
  background-color: rgb(0, 140, 255);
  border-style: hidden;
  border-radius: 50%;
  outline: none;

  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
#upButton:active {
  color: red;
  border: solid 2px grey;
}
#buttonIcon {
  fill: white;
}
